#Python virtual environment
venv/
pycache/
*.pyc

#Separate code from data and runtime artifacts
input/
output/
temp/
logs/
queue.txt

#Ignore downloaded AI model files
Real-ESRGAN/
*.pth

#IDE and editor-specific configuration
.vscode/
.idea/